/* hero section  css  */
.hoPaWrap{
    display: flex;
padding: 64px 135px 104px 120px;
justify-content: center;
gap: 80px;
justify-content: space-between;
align-items: center;
background: #FFF;
max-width: 1650px;
margin: 0 auto;
}

 .hoPa_content{
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 24px;
overflow: hidden;
max-width: 560px;
}

.hoPa_content h2{
    color: #000;
font-family: Inter;
overflow: hidden;
font-size: 56px;
font-style: normal;
font-weight: 700;
line-height: 120%; 
}
.hoPa_content .para{
    color: #212121;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
    
}
.hoPa_content button{
    display: flex;
    overflow: hidden;
    padding: 1em 2em;
    width: 132px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: #FF8080;
    color: #FFF;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; 
    
}
.hoPa_content button span{
    color: #FFF;
font-family: Inter;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 140%; 
    
}

 .hoPa_img{
    width: 520px;
    display: flex;
    justify-content: center;
    /* background-color: red; */

}

.noCreditText{
    color: #212121;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
    font-size: 12px;
    
}

.btnTextWrap{
    display: flex;
padding-top: 16px;
align-items: center;
gap: 16px;
}


/* set IT css */
.setItWrap{
    display: flex;
padding: 64px 24px;
align-items: center;
justify-content: center;
background: #333;
}

.setITContain{
    display: flex;
max-width: 1250px;
width: 100%;
flex-direction: column;
align-items: center;
gap: 64px;
}

.setITContain .head_para{
display: flex;
flex-direction: column;
gap: 16px;
align-items: center;
}
.setITContain .head_para h2{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; 
}
.setITContain .head_para p{
    width: 592px;
    color: #FFF;
text-align: center;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 150%; 
}


.setITBOXES{
    display: flex;
gap: 48px;
width: 100%;
justify-content: space-between;
}

 .singleBox{
    width: 368px;
display: flex;
flex-direction: column;
align-items: center;
}


 .singleBox .imgBox{
     display: flex;
     justify-content: center;
     align-items: center;
      width: 100%;
     height: 180px;
}

 .singleBox .titParaBox{
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: center;
    background: #CDFAD5;
    width: 100%;
    
}
 .singleBox .titParaBox .title{
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}
 .singleBox .titParaBox .paraf{
    color: #000;
text-align: center;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%; 
width: 100%;
}

/* user reckon css */

.userRecWrap{
    display: flex;
padding: 64px 0px;
flex-direction: column;
align-items: center;
align-self: stretch;
}

.reckonContain{
    display: flex;
    max-width: 1200px;
    width: 100%;
    padding: 24px;
    flex-direction: column;
    gap: 13px;
    align-items: flex-start;
    background: #F8F8F8;
}


.reckonContain .heading{
    color: #FF8080;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}


.recItemBox{
    display: flex;
max-width: 1157px;
width: 100%;
min-height: 452px;
height: auto;
padding: 10px;
flex-direction: column;
align-items: center;
gap: 10px;
margin: 0 auto;
}
.recItemBox .itemCol{
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.margintop{
    margin-top: 18px;
}

.recItemBox .singleItem{
    display: flex;
    padding: 15px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
background: #333;
}
.recItemBox .singleItem span{
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; 
}

/* trust wrap css */
.trustWap{
    display: flex;
padding: 64px 24px;
flex-direction: column;
align-items: center;
gap: 32px;
background: #FFF;

}
.trustWap .heading{
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; 
    width: 560px;

}

.trustWap .logoContainer{
    display: flex;
justify-content: center;
align-items: center;
gap: 48px;
align-self: stretch;
width: 100%;
flex-wrap: wrap;

}
.trustWap .logoContainer .img1{
width: 154px;
aspect-ratio: 9/2;
object-fit: contain;
}


@media (max-width:1250px) {
    .hoPaWrap{

    padding: 64px 110px 104px 80px;
    gap: 20px;
   
    }
}

@media (max-width:1140px) {
    .recItemBox .singleItem span{
      font-size: 14px;
    }
    .hoPaWrap{
    padding: 64px 70px 104px 50px;
    gap: 20px;
    }

}

@media (max-width:1040px) {
    .recItemBox .singleItem span{
        font-size: 13px;
      }
}
@media (max-width:1024px) {
    .userRecWrap{
        padding: 0px 0px;
    }
    .reckonContain{
        padding: 88px 20px ;
    }
     
    .hoPa_content h2{    
        font-size: 36px;   
        }
        .hoPa_content .para{   
           max-width: 570px;
           font-size: 16px;     
        }
        .setITBOXES{  
        gap: 20px;
        }

}

@media (max-width:950px) {
    .recItemBox .itemCol{
       display: grid;
       grid-template-columns: repeat(2,1fr);
    }
    .recItemBox .singleItem{
       height: 50px;
       overflow: hidden;
    }
    .recItemBox .itemCol{
padding: 2px; 
   }
    
}

@media (max-width:780px) {
    .hoPaWrap{
        padding: 64px 40px 104px 40px;
        
        }
}

@media (max-width:700px) {
    .hoPaWrap{
         display: flex;
         flex-direction: column-reverse;
    padding: 64px 20px 104px 20px;
    gap: 30px;
  
    }
    .hoPa_content{
      max-width: 427px;
    }
   
    .setItWrap{
        padding: 64px 20px;
    
    }
    .setITBOXES{
        display: flex;
  flex-direction: column;
  align-items: center;
    }
}

@media (max-width:600px) {
    .setITContain .head_para p{
        width: 98%;  
    }
    
}
@media (max-width:555px) {
    .recItemBox .itemCol{
        display: flex;
        flex-direction: column;
      
     }
     .recItemBox{
       padding: 2px;
    }
    .recItemBox .singleItem{
width: 95%;
    } 
    .recItemBox{
      gap: 0;
    }

    .margintop{
        margin-top: 0px;
    }
  
}

@media (max-width:550px) {
    .hoPa_img{
        width: 95%;
    }   
}
@media (max-width:500px) {
    .reckonContain .heading{
        font-size: 24px;
    }
    .hoPa_content{
    
    width: 95%;
   
    }
    
}
@media (max-width:450px) {
    .recItemBox .singleItem span{
       font-size: 14px;
    }
    
}

@media (max-width:400px) {
    .trustWap .logoContainer{
     display: flex;
     flex-direction: column;
    
    }
    
    .singleBox{
        width: 98%;
    }
    
}



