
/* this css is good for accountManagement show all dropdown check for that if it get change in future */

.custom-select-container {
    position: relative;
    display: inline-block;
  }
  
  .custom-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid #000;
    outline: none;
    cursor: pointer;
    padding: 0px 0px 0px 22px;
    color: #000;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 150%; 
  }
  
  .custom-arrow-container {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
  }
  
  .custom-arrow {
    fill: #333;
    width: 20px;
    height: 14px;
  }
  